html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden
}

body{
  background-color: #333333;
  background-image: url(/bgtexture.png);
  background-blend-mode: hard-light;
}
/* 
@font-face {
  font-family: 'Chainprinter';
  src: local('Chainprinter'), url("../assets/chainprinter/Chainprinter Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Windsor';
  src: local('Windsor'), url("../assets/windsor/Windsor Light Condensed Regular.otf") format('opentype');
} */
