html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden
}

body{
  background-color: #000;
  background-image: url(/bgtexture.png);
  background-blend-mode: hard-light;
}
/* 
@font-face {
  font-family: 'Chainprinter';
  src: local('Chainprinter'), url("../assets/chainprinter/Chainprinter Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Windsor';
  src: local('Windsor'), url("../assets/windsor/Windsor Light Condensed Regular.otf") format('opentype');
} */

.display-none{
  animation: anim 1s;
  animation-fill-mode: forwards;

  
}
@keyframes anim{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

.visibility-hidden{
  /* visibility: hidden !important; */
}