circle.central{
    fill: #E3D641;
    transition: 1s;
    cursor: default;
}

circle {
    cursor: pointer;
}

.svgText {
    font-family: windsor;
    font-size: 22px;
    transform: translate(-5px, 8px);
}